
[cia]
part_number=
chassis_custom_1=
chassis_custom_2=
serial_number=
chassis_type=5

[bia]
board_custom_1=R1157-F0002-101
product_name=AS13-48F8H-F-CL
serial_number=DX030B2F048414GD100005
manufacturer=CELESTICA
part_number=R1157-F0002-02
mfg_datetime=11938065

[pia]
product_custom_1=2018-09-29
product_custom_2=00000010200E
product_custom_3=2
manufacturer=CELESTICA
asset_tag=1
serial_number=123456
part_number=R1157-F0002-03
version=1
product_name=AS13-48F8H-F-CL
