[Unit]
Description=Fan Control Service
After=power-on.service

[Service]
Type=forking
ExecStart=/usr/local/bin/setup-fan.sh start
Restart=on-failure

[Install]
WantedBy=multi-user.target

